<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/profile/profile.css">
</head>
<body>
<div class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
        <ul>
            <li><a href="/SmartCV"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="#"><i class="fas fa-cog"></i> Setting</a></li>
            <li><a href="#"><i class="fas fa-folder"></i> Folder</a></li>
            <li><a href="#"><i class="fas fa-info-circle"></i> Info</a></li>
        </ul>
    </aside>

    <!-- Main Content -->
    <main class="main-content">
        <div class="profile-header">
            <div th:if="${newPicture}" class="profile-avatar">
                <img th:src="${newPicture}" alt="Avatar" class="avatar">
            </div>

            <div th:if="${newPicture == null}">


                <img src="https://img.icons8.com/color/48/test-account.png" alt="Avatar" class="avatar">

            </div>

            <h3 class="profile-name"  th:text="${newUsername.replace('_', ' ')}"></h3> <!-- Nome padrão se não tiver usuário -->
            <p class="profile-job" th:text="${newUserProfession}"></p>
        </div>

        <!-- Form -->
        <form th:action="@{/SmartCV/profile(id=${newUsernameId})}" method="post" th:object="${perfilDto}"
              class="profile-form">
            <div class="form-group">
                <label for="first-name" >Username</label>
                <input type="text" th:field="*{username}" id="first-name" placeholder="Name" required>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error' : ''">
                <label for="email">Email</label>
                <input type="text" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
                       th:field="*{email}" id="email" placeholder="Email" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>


            <div class="form-group">
                <label class="input_label" for="work">Profession</label>
                <select id="work" name="profession" class="select-custom">
                    <option th:each="profession : ${listaStatusUser}"
                            th:value="${profession.name()}"
                            th:text="${profession.displayName}"
                            th:selected="${profession} == ${selectedProfession}">
                    </option>

                </select>
            </div>

            <button type="submit" class="submit-btn">Save</button>
        </form>
    </main>
</div>

</body>
</html>